ul.nav {
    width: 75px;
    height: 738px;
    background: #009688;
    display: flex;
    flex-direction: column;
}

ul.nav .wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
}

ul.nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #C8E6C9;
    margin-top: 2px;
    cursor: pointer;
    padding: 10px 0px;
}

ul.nav .text {
    margin-top: 3px;
}

ul.nav .wrap {
    flex: 1;
}

ul.nav .router-link-active {
    border-left: 3px solid #FF5722;
    box-shadow: inset 1px 0 0px #358e86;
    background: rgba(236, 235, 235, 0.5);
    color: #004D40;
}

ul.tabs {
    display: flex;
    background: #ffffff;
    padding: 0px 20px;
    border-bottom: 1px solid #BDBDBD;
}

ul.tabs li {
    margin: 0px 15px 0px 0;
    padding: 10px 20px;
    color: #666;
}

ul.tabs li.router-link-exact-active {
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #FFC107;
}

.tab-content {
    margin: 10px auto;
    width: 450px;
    background: #fff;
    box-shadow: var(--shadow);
}

.tooltip {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 2px;
}

.external {
    margin: 0 10px;
    padding: 10px 25px;
    color: #555;
    cursor: pointer;
}

.external:hover {
    background: #eee;
    border-radius: 4px;
}

.toggle .opt {
    padding: 0 25px;
    background: #FAFAFA;
}

.toggle .opt>div:nth-child(odd) {
    border-bottom: 1px dashed #ddd;
}