section.route {
    display: flex;
}

section.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 738px;
    width: 949px;
}

.content .page {
    flex: 1;
    overflow-y: auto;
}

ul.nav {
    width: 75px;
    height: 738px;
    background: #009688;
    display: flex;
    flex-direction: column;
}

ul.nav .wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
}

ul.nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #C8E6C9;
    margin-top: 2px;
    cursor: pointer;
    padding: 10px 0px;
}

ul.nav .text {
    margin-top: 3px;
}

ul.nav .wrap {
    flex: 1;
}

ul.nav .router-link-active {
    border-left: 3px solid #FF5722;
    box-shadow: inset 1px 0 0px #358e86;
    background: rgba(236, 235, 235, 0.5);
    color: #004D40;
}

ul.tabs {
    display: flex;
    background: #ffffff;
    padding: 0px 20px;
    border-bottom: 1px solid #BDBDBD;
}

ul.tabs li {
    margin: 0px 15px 0px 0;
    padding: 10px 20px;
    color: #666;
    border-bottom: 2px solid transparent;
}

ul.tabs li.router-link-exact-active {
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #FFC107;
}

.tab-content {
    margin: 10px auto;
    width: 450px;
    background: #fff;
    box-shadow: var(--shadow);
}

.tooltip {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 2px;
}

.toggle .opt {
    padding: 0 25px;
    background: #F5F5F5;
}

.toggle .opt>div {
    border-bottom: 1px dashed #ddd;
}

.toggle .opt>div:last-child {
    border-bottom: none;
}

header.nav {
    display: flex;
    align-items: center;
    padding: 6px;
    background: #fcfcfc;
    border-bottom: 1px solid #eee;
}

header.nav .back {
    padding: 10px 25px;
    color: #555;
    cursor: pointer;
}

header.nav .back:hover {
    background: #eee;
    border-radius: 4px;
}

header.nav nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

header.nav .add {
    padding: 10px 20px;
    background: #eee;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


/* .editor {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.24);
}

.editor header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.editor header span {
    flex: 1;
}

.editor header i {
    cursor: pointer;
}

.editor .body {
    background: #fff;
} */