section.route {
    display: flex;
}

section.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 738px;
    width: 949px;
}

.content .page {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

ul.nav {
    width: 75px;
    height: 738px;
    background: #009688;
    display: flex;
    flex-direction: column;
}

ul.nav .wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
}

ul.nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #C8E6C9;
    margin-top: 2px;
    cursor: pointer;
    padding: 10px 0px;
}

ul.nav .text {
    margin-top: 3px;
}

ul.nav .wrap {
    flex: 1;
}

ul.nav .router-link-active {
    border-left: 3px solid #FF5722;
    background: rgba(236, 235, 235, 0.5);
    color: #004D40;
}

ul.tabs {
    display: flex;
    background: #ffffff;
    padding: 0px 20px;
    border-bottom: 1px solid #BDBDBD;
}

ul.tabs li {
    margin: 0px 15px 0px 0;
    padding: 10px 20px;
    color: #666;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

li.tab.disable{
    pointer-events: none;
    opacity: 0.7;
    color: #BDBDBD;
}

ul.tabs li.router-link-exact-active {
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #FF5722;
}

.tab-content {
    margin: 10px auto 0;
    width: 450px;
    background: #fff;
    box-shadow: var(--shadow);
}

.wide.tab-content {
    width: 876px;
}

.table.tab-content {
    width: 100%;
    margin: initial;
}

.chart.page {
    width: 100%;
    margin: initial;
    background: #fcfcfc;
}

table.data tbody tr td {
    text-align: center;
    height: 40px;
}

table.data tr th {
    height: 30px;
    background: #607D8B;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    font-weight: normal;
}

table.data thead,
table.data tbody tr,
table.data tfoot tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.data .fa-check-circle-o {
    color: #9E9E9E;
}

.data .fa-check-circle {
    color: #009688;
}

.data .fa-exclamation-triangle{
    color:#FF9800;
}

td.invalid {
    color: #E0E0E0;
}

td.decimal {
    font-weight: bold;
    font-family: 'Agency FB';
    color: #3c3c3c;
}

label .tooltip {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 2px;
}

.toggle div.opt {
    padding: 0 25px;
    background: #eee;
}

.toggle .opt>div {
    border-bottom: 1px dashed #ddd;
}

.toggle .opt>div:last-child {
    border-bottom: none;
}

header.nav {
    display: flex;
    padding: 6px;
    height: 38px;
    align-items: center;
    background: #fcfcfc;
    border-bottom: 1px solid #eee;
}

header.nav .back {
    padding: 10px 25px;
    color: #555;
    cursor: pointer;
}

header.nav .back:hover {
    background: #eee;
    border-radius: 4px;
}

header.nav .title {
    flex: 1;
    text-align: center;
}

header.nav .title h5 {
    color: #9e9e9e;
    font-weight: normal;
}

header.nav nav {
    display: flex;
    justify-content: flex-end;
}

header.nav nav>span {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

table.setting thead th {
    background: #009688;
    color: #fff;
    font-weight: normal;
    padding: 2px 0;
    text-shadow: 0 1px 1px #333;
}

table.setting tbody td {
    padding: 7px 0;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #f5f5f5;
}

td.expired {
    color: rgb(236, 48, 15);
}

td.opt {
    width: 30px;
}

td.opt i {
    width: 25px;
    cursor: pointer;
    color: #3c3c3c;
    padding: 5px 0;
}

td.opt i:active {
    background: #eee;
    border-radius: 4px;
}

td.amount {
    font-family: "Agency FB";
    font-weight: bold;
    color: #3c3c3c;
}

.fees {
    display: flex;
    align-items: center;
    padding: 5px 0 10px 30px;
}

.fees input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    margin-left: 15px;
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 18px;
    width: 100px;
    text-indent: 10px;
    color: #3c3c3c;
}
.checkbox.list {
    border-bottom: 1px solid #eee;
    margin: 0;
    height: 40px;
    padding-left: 30px;
}

.editor {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.24);
}

.editor header {
    border-bottom: 1px solid #eee;
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
}

header.tab{
    flex-direction: row;
}

.editor header h5 {
    font-weight: normal;
    color: #666;
}

.editor .wrap {
    padding: 15px 25px;
    background: #fafafa;
    min-width: 350px;
}

.editor .wrap>.options {
    display: flex;
    flex-wrap: wrap;
}

.editor .wrap .printers{
    padding: 5px 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.editor .wrap .printers > label {
    width: 80px;
    display: block;
}
  
.editor .wrap .printers .inner {
    border: 1px solid #eee;
    background: #fff;
    flex: 1;
    border-radius: 2px;
    padding: 4px 2px;
    display: flex;
    max-width: 264px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editor nav.tabs {
    display: flex;
    height: 45px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.editor nav.tabs label {
    padding: 13px;
    min-width: 60px;
    display: flex;
    margin: 0 5px;
    justify-content: center;
    cursor: pointer;
    color: #656565;
    border-bottom: 3px solid transparent;
}

.editor nav.tabs input:checked+label {
    border-bottom: 3px solid #ff9800;
    font-weight: bold;
    color: #0f1e29;
}

.editor .display {
    position: relative;
    display: flex;
    height: 60px;
    align-items: center;
    margin: 7px 7px 2px;
    border: none;
    border-radius: 4px;
    color: #656565;
    box-shadow: inset 0 1px 6px -1px rgba(0, 0, 0, 0.4);
    background: #fafafa;
}
  
.editor .banner {
    height: 10px;
    align-items: center;
    display: flex;
    background: #009688;
}
  
.editor  .display input {
    border: none;
    flex: 1;
    text-align: right;
    font-size: 34px;
    padding-right: 15px;
    font-weight: bold;
    font-family: "Agency FB";
    color: #3c3c3c;
    outline: none;
    background: transparent;
}
  
.editor .display .unit {
    position: absolute;
    left: 10px;
    padding: 4px 3px;
    text-align: center;
    min-width: 52px;
    background: #607d8b;
    color: #fff;
    border-radius: 4px;
    font-size: 34px;
    font-family: "Agency FB";
    font-weight: bold;
    text-shadow: 0 1px 1px #333;
    box-shadow: 0px 2px 1px #123344;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.multiple .checkbox {
    flex: 1;
    margin: 2px 30px!important;
}

.multiple .text {
    flex: 1;
    padding: 10px 5px;
}

.checkboxes {
    margin-top: 5px;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 2px;
    width: 540px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.checkboxes .checkbox {
    width: 170px;
}

.entryWrap .header {
    text-align: center;
    padding: 5px 0 15px;
    height: 44px;
}
  
.entryWrap .inner {
    position: relative;
    margin: 0 4px 2px 5px;
}
  
.entryWrap input {
    border: none;
    width: calc(100% - 22px);
    font-size: 34px;
    text-align: right;
    padding: 5px 10px;
    font-weight: bold;
    font-family: "Agency FB";
    outline: none;
    border-radius: 4px;
    color: #3c3c3c;
    box-shadow: inset 0 1px 6px -1px rgba(0, 0, 0, 0.4);
}

.statistic {
    padding: 10px 25px;
    border-bottom: 1px solid #eee;
}
  
.statistic h5 {
    font-weight: normal;
    padding-left: 10px;
    color: #656565;
}

.pages{
    height: 48px;
    border-bottom: none;
    background: #eee;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fliper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    flex: 1;
}

.fliper i{
    padding: 10px 20px;
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.fliper i:active{
    background: #fcfcfc;
}

.fliper div {
    display: flex;
    min-width: 80px;
    justify-content: center;
}

.fliper .slash {
    font-weight: bold;
    margin: 0 5px;
}

li.footer{
    height: 52px;
    border-bottom: none;
    background: #eee;
}

table.event thead th{
    color: #fff;
    padding: 5px 0;
    font-weight: normal;
    background: #009688;
    text-shadow: 0 1px 1px #333;
}

table.event tbody{
    display: block;
    min-height: 390px;
    background: #fafafa;
}

table.event thead,
table.event tbody tr {
  width: 100%;
  display: table;
  text-align: center;
  table-layout: fixed;
}

table.event tbody td{
    text-align: center;
    padding: 5px 0;
}

table.event td button{
    border: none;
    background: #ff5722;
    color: #fff;
    padding: 7px 10px;
    font-family: Yuanti-SC;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

table.event tbody tr:nth-child(odd){
    background: #eeeeee;
}

