* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  font-family: "Yuanti-SC", "Microsoft YaHei";
  touch-action: manipulation;
}


/*:lang(zhCN) {
  font-family: "Yuanti-SC", "Microsoft YaHei";
}*/

ul {
  list-style-type: none;
}

#app {
  background: url(../image/0.jpg) center center;
  background-size: cover;
  width: 1024px;
  height: 768px;
  user-select: none;
}

#app.admin {
  background: url(../image/17.jpg) center center;
  background-size: cover;
}

button:disabled {
  opacity: 0.75;
  cursor: not-allowed!important;
}

div {
  --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

table {
  table-layout: auto;
  border-spacing: 0;
  width: 100%;
  background: #fff;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

i {
  --gray: #607D8B;
  --deepBlue: #1f7dc7;
  --yellow: #FF9800;
  --green: #009688;
  --red: #f44336;
  --orange: #FF5722;
}

i.info::before {
  content: '\F05a';
  color: #66BB6A;
}

i.error::before {
  content: '\F06a';
  color: #FF5722;
}

i.warning::before {
  content: '\F071';
  color: #f44336;
}

i.loader {
  position: relative;
}

i.loader:after {
  content: ' ';
  position: absolute;
  width: 82px;
  height: 82px;
  left: -2px;
  top: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-color: transparent #fff transparent #fff;
  transform-origin: 50% 50%;
  animation: rotate 1.5s linear 0s infinite normal;
}

.relative {
  position: relative;
}

input[type='radio'] {
  display: none;
}

.boxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.65);
}

.popupMask {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0;
  padding-top:30px;
}

.popupMask.setting {
  width: 949px;
  left: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupMask.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupMask.dark {
  background: rgba(0, 0, 0, 0.7);
}

.popupMask.darker{
  background:#171718;
}

.logo {
  width: 55px;
  height: 50px;
  margin: auto;
  background: skyblue;
  border-radius: 4px;
  box-shadow: 0 1px 4px #153444;
}

.logo span {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
  text-shadow: 1px 2px 2px rgba(45, 15, 15, 0.5);
}

.btn {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 62px;
  line-height: 29px;
  font-size: 1.15em;
  font-weight: bold;
  background: linear-gradient(#fefefe, #cfd0d3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .7);
  text-shadow: 0 1px 1px white;
  border-radius: 4px;
  margin-bottom: 5px;
}

footer .btn {
  margin: 5px;
}

button.btn {
  border: none;
  outline: none;
  font-family: 'Yuanti-SC';
}

.btn:active,
i.flip:active {
  background: linear-gradient(#E2E3E4, #AAADB4);
  color: #333;
}

.numKey {
  background: #03a9f4;
  color: #fff;
  vertical-align: top;
  width: 100px;
  height: 50px;
  padding: 17px 0;
  margin: 0px 5px 5px 0;
  font-family: 'Agency FB';
  font-weight: bold;
  font-size: 40px;
  border-radius: 2px;
  text-align: center;
  transition: background 0.2s ease-out;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

.next {
  background: linear-gradient(#e2edf3, #888ea0)!important;
}

.double {
  width: 205px;
}

.numKey:active {
  background: #0288D1;
}

.padCtrl {
  text-align: center;
  padding-right: 2px;
}

.padCtrl div {
  background: #78909C;
  color: #fff;
  vertical-align: top;
  width: 100px;
  height: 50px;
  padding: 17px 0;
  margin-bottom: 5px;
  font-size: 3em;
  border-radius: 2px;
  transition: background 0.2s ease-out;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

.padCtrl div:active {
  background: #546E7A;
}

.padCtrl div:last-child {
  height: 139px;
  line-height: 139px;
}

section.card {
  margin: 1.5em 2em;
  position: relative;
}

.card header {
  font-size: 1.35em;
  color: #263238;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Microsoft YaHei";
}

.card article {
  background: #fff;
  box-shadow: var(--shadow);
}

.card .input {
  border-bottom: 1px solid #ccc;
  display: flex;
  font-size: 1.05em;
}

.card header .tip {
  font-size: 16px;
  font-weight: lighter;
  margin-left: 5px;
  color: #78909C;
}

.listHeader {
  padding: 10px 0;
  background: #4D6D83;
  color: #fff;
  display: flex;
  border-bottom: 1px solid #455A64;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
  border: 1px solid #fff;
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9d9d9d
}

::-webkit-scrollbar-thumb:active {
  background-color: #838383
}

::selection {
  background: #d7dbf0
}

input[type="text"]:disabled {
  background: #fff;
  color: #BDBDBD;
  cursor: not-allowed;
}

.card .datalist {
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  color: #455A64;
  padding: 7px 0 3px;
}

.datalist:nth-child(2n) {
  background: #f6f6f6;
}

.ghost {
  opacity: 0.5;
}

/* Define window */

.window {
  background: #f5f5f5;
  border-top: 1px solid #94bfe2;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  position: relative;
  border-radius: 4px 4px 0 0px;
}

.window .title {
  padding: 14px 20px;
  color: #fff;
  font-size: 1.25em;
  background: linear-gradient(#299efb, #047fe0);
  border-bottom: 1px solid #2e82ab;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-align: left;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.title>i {
  color: #fff;
  font-style: normal;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px 20px;
}

.window footer,
.editor footer {
  background: #EEEEEE;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer .opt {
  display: flex;
  flex: 1;
  padding: 0 25px;
  align-items: center;
}

footer .opt .del {
  color: rgb(236, 48, 15);
  cursor: pointer;
}

.receipt footer {
  display: initial;
}

/* Define Dock Style */

header.dock {
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 20%, #aba9a9 100%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.85), inset 0px 1px 3px rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  color: #333;
}

.dock .number {
  width: 50px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 22px;
  font-family: 'Agency FB';
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
}

.dock .provider {
  background: linear-gradient(to bottom, #455A64 20%, #263238 100%);
  color: #fff;
  text-shadow: 0 1px 1px #90A4AE;
  padding: 1px 7px;
  border-radius: 4px;
  font-family: monospace;
  box-shadow: 0 1px 1px #ECEFF1;
}

.dock .reward,.dock .op{
  min-width:130px;
}

.dock .type {
  min-width: 90px;
  text-shadow: 0 1px 1px #fff;
  font-weight: bold;
  text-align: center;
}

.dock>.info {
  flex: 1;
  display: flex;
}

.dock .customer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.dock .customer span {
  padding: 0 10px;
  margin: 0 5px;
  text-transform: uppercase;
}

.dock .customer span,
.dock .op,
.dock .time {
  font-family: 'Agency FB';
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
  font-size: 18px;
  text-align: center;
}

.dock .corner {
  padding: 0 10px;
  min-width: 135px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.dock .status {
  padding: 0 10px;
  text-align: right;
  text-shadow: 0 1px 1px #fff;
}

.dock .misc {
  min-width: 150px;
}

.dock .na {
  color: #9E9E9E;
}

.dock .status .spooler {
  position: relative;
}

.dock .status .spooler:after {
  content: ' ';
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #FF5722;
  border-radius: 50%;
  padding: 4px;
}

.dock .shift {
  text-shadow: 0 1px 1px #fff;
  font-family: 'Yuanti-SC';
  font-size: 16px;
  margin: 0 5px;
  font-weight: bold;
}

.dock .clock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  min-width: 100px;
}

/*Define Tabs style*/

.form.multiple {
  overflow: hidden;
}

.multiple .content {
  flex: 1;
  overflow-y: auto;
}

label.input-toggle {
  line-height: 0;
  font-size: 0;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: right;
}

label.input-toggle>span {
  display: inline-block;
  position: relative;
  background-image: linear-gradient(to right, #848484 0%, #848484 50%, #7cbcbf 50%, #7cbcbf 100%);
  background-size: 64px 14px;
  background-position: 0%;
  border-radius: 32px;
  width: 32px;
  height: 14px;
  cursor: pointer;
  transition: background-position 0.2s ease-in;
}

label.input-toggle>input:checked+span {
  background-position: -100%;
}

label.input-toggle>span:after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #F1F1F1;
  align-self: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease;
}

label.input-toggle>input:checked+span:after {
  left: calc(100% - 18px);
  background-color: #1D8B90;
}

label.input-toggle>span:active:after {
  transform: translateY(-50%) scale3d(1.15, 0.85, 1);
}

label.input-toggle>input:disabled+span:active:after {
  transform: translateY(-50%);
}

label.input-toggle>input:disabled+span {
  cursor: default;
}

label.input-toggle>input:disabled+span {
  background: #D5D5D5;
}

label.input-toggle>input:disabled+span:after {
  background: #BDBDBD;
}

label.input-toggle>input {
  display: block;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/*Define input form*/

.inputter .inner {
  padding: 0 2px 0 4px;
  width: 417px;
}

.inputter .display {
  height: 160px;
  text-align: center;
}

.inputter .wrap {
  display: flex;
  width: 417px;
}

.inputter section.numpad {
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inputter h5 {
  padding: 20px 0 0;
  font-size: 16px;
  color: #545050;
}

.inputter .symbol {
  color: #009688;
  font-size: 28px;
  margin-right: 3px;
}

.inputter .due {
  font-size: 38px;
  font-weight: bold;
  color: #444;
  font-family: "Agency FB";
  position: relative;
}

.inputter i.tooltip {
  color: #ff5722;
  font-size: 18px;
  position: absolute;
  right: -35px;
  top: 15px;
  cursor: help;
}

.inputter i.tooltip:hover .content {
  opacity: 1;
}

.inputter span.content {
  position: absolute;
  opacity: 0;
  font-family: "Yuanti-SC";
  background: #fff8e1;
  color: #ff9800;
  box-shadow: 1px 1px 3px #cfd8dc;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px;
  min-width: 170px;
  left: 50%;
  top: 25px;
  transform: translate(-50%, 0);
  transition: opacity 250ms ease-out;
}

.inputter .entry {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 5px;
  height: 45px;
  background: #fff;
  margin: 4px 3px 0 0;
  border-radius: 4px;
  box-shadow: 0 1px 1px #b5aaaa;
}

.entry input {
  border: none;
  outline: none;
  background: none;
  flex: 1;
  width: 100px;
  font-size: 46px;
  font-family: "Agency FB";
  font-weight: bold;
  color: #3c3c3c;
  text-align: right;
}

.entry .unit {
  padding: 8px 3px;
  min-width: 55px;
  background: #607d8b;
  color: #fff;
  border-radius: 4px;
  font-size: 34px;
  font-family: "Agency FB";
  text-shadow: 0 1px 1px #333;
  box-shadow: 0px 2px 1px #123344;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 62px;
  height: 100%;
  width: 100%;
  background: url(../image/grid.png) #fcfcfc;
}

section.category {
  flex: 5;
}

.category div {
  height: 62.5px;
  width: 137.92px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border: 1px solid #1976D2;
  background: rgba(0, 159, 247, 0.91);
  margin: 1px;
  vertical-align: top;
  font-size: 1.15em;
  text-align: center;
}

.category .active {
  background: rgba(9, 177, 255, 0.35);
  border: 1px dashed #2196F3;
}

section.items {
  flex: 6
}

.items .disable {
  background: rgba(207, 216, 220, 0.5);
}

.items div {
  display: inline-flex;
  text-align: center;
  flex-wrap: wrap;
  width: calc(33% - 3px);
  justify-content: center;
  align-items: center;
  height: 62.5px;
  border: 1px solid #78909C;
  margin: 1px;
  background: #B0BEC5;
  vertical-align: top;
  will-change: background;
  position: relative;
}

.sub.items div {
  border: 1px solid #FF9800;
}

.items div:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: attr(data-menuid);
  background: #546E7A;
  color: #F5F5F5;
  min-width: 25px;
}

.items .like {
  position: relative;
}

.like:after {
  content: '\f004';
  font-family: fontAwesome;
  left: 2px;
  bottom: 2px;
  position: absolute;
  color: #F44336;
}

div.pageButton {
  width: 109.6px;
  background: blanchedalmond;
  margin-right: -3px;
}

.items div:hover,
.sides div:hover {
  transition: background 0.22s linear;
}

.items div:active {
  background: rgba(166, 195, 201, 0.55);
}

section.sides {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
}

.sides div {
  border: 1px solid #9E9E9E;
  height: 63px;
  margin: 1px 0;
  background: rgba(206, 206, 206, 0.66);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sides div:active {
  background: rgba(241, 239, 239, 0.52);
}

.sides div:first-child {
  margin-top: 1px;
}

section.cart {
  flex: 5;
  position: relative;
}

.function {
  padding: 3px 0 0 3px;
}

/* keyboard layout */

.keyboard {
  position: fixed;
  bottom: 0;
  left: 0;
  background: linear-gradient(#9098a3, #48525f);
  color: #3A3D42;
  border-top: 1px solid #848b96;
  display: flex;
}

.keyboard .alphabetic,
.keyboard .numeric {
  display: inline-flex;
  vertical-align: top;
}

.keyboard .alphabetic div,
.keyboard .alphabetic i,
.keyboard .numeric div,
.keyboard .numeric i {
  margin: 3px 4px;
  width: 70.7px;
  height: 62px;
  line-height: 25px;
  font-size: 1.15em;
  font-weight: bold;
  text-indent: 8px;
  background: linear-gradient(#fefefe, #cfd0d3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .7), 0 1px 0 rgba(0, 0, 0, .3);
  text-shadow: 0 1px 1px white;
  border-top: 1px solid rgba(255, 255, 255, .45);
  border-radius: 4px;
}

.keyboard .alphabetic div:active,
.keyboard .numeric div:active {
  background: linear-gradient(#E2E3E4, #AAADB4);
}

.keyboard .alphabetic i {
  background: linear-gradient(#939ba6, #687180);
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .7), 0 1px 0 rgba(0, 0, 0, .3);
  border-top: 1px solid rgba(255, 255, 255, .45);
  font-weight: normal;
}

.keyboard .alphabetic i:active,
.keyboard .numeric i:active {
  color: #3A3D42;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .7), 0 1px 0 rgba(0, 0, 0, .3);
  background: linear-gradient(#f8f8f9, #dddfe1);
  text-shadow: 0 1px 1px white;
}

.keyboard div.space {
  width: 307px;
}

.keyboard div.double,.keyboard i.double {
  width: 149.4px;
}

.keyboard div.created {
  background: linear-gradient(to bottom, #51b2ff 0%, #245094 100%);
  text-shadow: 0 2px 1px #0D47A1;
  color: #fff;
  border-top: 1px solid #3f7eb1;
}

.keyboard div.created:active {
  background: linear-gradient(to bottom, #51b2ff 0%, #245094 100%);
}

.keyboard .keyboard .next {
  background: linear-gradient(#c3e4ff, #6b8fb7);
}

/* Pin input */

.accessor {
  width: 310px;
  background-color: #f9f9f9;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  padding: 10px 9px 4px;
}

.accessor .input {
  height: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
  width: calc(100% - 20px);
  font-size: 34px;
  text-align: right;
  padding: 5px 10px;
  border-radius: 4px;
  overflow: hidden;
  background: rgba(96, 125, 139, 0.6);
  box-shadow: inset 0 1px 6px -1px rgba(0, 0, 0, 0.4)
}

.accessor .input span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.7);
  margin: 5px;
}

.accessor h2 {
  padding: 0 10px 10px 10px;
}

.accessor h5 {
  font-weight: normal;
  padding-top: 5px;
  color: rgba(0,0,0,0.75);
}

.accessor section {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.accessor section div:nth-child(3n+3) {
  margin-right: 0;
}

.field-entry {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  padding: 5px;
}

.field-entry > h4{
  margin-bottom: 2px;
}

.field-entry .wrap {
  display: flex;
  align-items: center;
  border: 2px solid #eee;
  background: #fff;
}

.field-entry .wrap i {
  color: #6f6f6f;
  font-size: 22px;
  width: 32px;
  text-align: center;
}

.field-entry input {
  border: none;
  background: transparent;
  font-size: 24px;
  outline: none;
  width: 170px;
}

input#address {
  width: 386px;
}

input#note {
  width: 602px;
}